ACTION!="add|change", GOTO="hide_partition_end"
SUBSYSTEM!="block", GOTO="hide_partition_end"
KERNEL=="loop*|ram*", GOTO="hide_partition_end"
KERNEL=="sda7", ENV{UDISKS_IGNORE}="True"
LABEL="hide_partition_end"
